Repository HwangGyuBin2/SpiralDailyDev: changes, and which CircleCI parameters are due for each by the changed paths.
All: daily_memo_ci_run, exchange_calculator_ci_run

set up dynamic config, ci config, cd config #22
  .circleci/common_jobs.yml
  .circleci/config.yml
  .idea/workspace.xml
Due: none

set up dynamic config, ci config, cd config #23
  .circleci/common_jobs.yml
  .circleci/config.yml
Due: none

set up dynamic config, ci config, cd config #24
  .circleci/config.yml
  .circleci/continue-config.yml
  .idea/workspace.xml
Due: none

set up dynamic config, ci config, cd config #25
  .circleci/config.yml
  .circleci/continue-config.yml
  .idea/workspace.xml
Due: none

add manual trigger config by using continuation
  .circleci/config.yml
  .idea/workspace.xml
  apps/daily_memo/.circleci/config.yml
  apps/exchange_rate_calculator/.circleci/config.yml
Due: daily_memo_ci_run, exchange_calculator_ci_run

..#2
  .circleci/config.yml
  .idea/workspace.xml
Due: none

..#3
  .idea/workspace.xml
  apps/exchange_rate_calculator/.circleci/config.yml
Due: exchange_calculator_ci_run

..#4
  .idea/workspace.xml
  apps/daily_memo/.circleci/config.yml
  apps/exchange_rate_calculator/.circleci/config.yml
Due: daily_memo_ci_run, exchange_calculator_ci_run

..#5
  .circleci/config.yml
  .idea/workspace.xml
Due: none

..#6
  .idea/workspace.xml
  apps/daily_memo/.circleci/config.yml
  apps/exchange_rate_calculator/.circleci/config.yml
Due: daily_memo_ci_run, exchange_calculator_ci_run

..#7
  .circleci/config.yml
  .idea/workspace.xml
Due: none

..#8
  .idea/workspace.xml
  apps/daily_memo/.circleci/config.yml
Due: daily_memo_ci_run

..#9
  .circleci/config.yml
  .idea/workspace.xml
  apps/daily_memo/.circleci/config.yml
  apps/exchange_rate_calculator/.circleci/config.yml
Due: daily_memo_ci_run, exchange_calculator_ci_run

..#10
  .circleci/config.yml
  .idea/workspace.xml
Due: none

test for transfer ownership
  .circleci/continue-config.yml
  .idea/workspace.xml
  apps/daily_memo/ios/Gemfile
  apps/daily_memo/ios/fastlane/Appfile
  apps/daily_memo/ios/fastlane/Fastfile
  melos.yaml
Due: daily_memo_ci_run

add ci flow
  .circleci/config.yml
  .circleci/continue-config.yml
  .circleci/dynamic_config.yml
  apps/daily_memo/.circleci/deploy-config.yml
  apps/exchange_rate_calculator/.circleci/deploy-config.yml
Due: daily_memo_ci_run, exchange_calculator_ci_run

add ci flow #2
  .circleci/config.yml
  .idea/workspace.xml
Due: none

add ci flow #3
  .circleci/continue-config.yml
  .idea/workspace.xml
Due: none

add ci flow test
  .idea/workspace.xml
  apps/daily_memo/lib/main.dart
Due: daily_memo_ci_run

test for ci valid check
  .idea/workspace.xml
  apps/daily_memo/test/domain/usecase/memo_usecase_test.dart
Due: daily_memo_ci_run

test #2 for ci valid check
  .circleci/continue-config.yml
  apps/daily_memo/test/domain/usecase/memo_usecase_test.dart
Due: daily_memo_ci_run

Path conditions:
  daily_memo_ci_run: any of: apps/daily_memo/.*
  exchange_calculator_ci_run: any of: apps/exchange_rate_calculator/.*
